= javascript_include_tag "/faye/client.js"
= javascript_include_tag "games/show"
- if Rails.env.development?
  = javascript_include_tag "games/debug_console"
  = stylesheet_link_tag("debug_console", media: "all")

= @game.name
%ul#players
  - @game.players.map { |player| player.user.username }.each do |username|
    %li= username

#chat
  %textarea#log{readonly: "true"}
  %input{type: "text", id: "input"}
  %input{type: "button", value: "send", id: "sendButton"}

#leaveButton= button_to "leave", leave_game_path(@game)

- if Rails.env.development?
  %textarea#debugLog{readonly: "true"}
  %br
  %input#fakeBackendInput{type: "text"}
  %input#fakeBackendButton{type: "button", value: "receive message"}

.hidden
  #game_id= @game.id
  #user_id= current_user.id
  #token= current_user.token
